* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: transparent;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(30, 31, 32);
  width: 100vw;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #594f4f;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 5px;
  border: 2px none #000000;
}
